/* Center content both vertically and horizontally */
.center-content[b-x0adpbawup] {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    height: 80vh; /* Full viewport height */
    text-align: center; /* Ensures text is centered */
}

.upload-section[b-x0adpbawup] {
    justify-content: center;
}
