

<!-- Navigation Menu -->
<div id="navMenu" class="nav-menu">
    <nav class="nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="location">Location</NavLink>
        <NavLink class="nav-link" href="activity">Activity</NavLink>
    </nav>
</div>
